@import url("component/container.css");
@import url("component/avatar.css");
@import url("component/button.css");
@import url("component/banner.css");
@import url("component/card.css");
@import url("component/cards.css");
body  {
	background: #DFD8CA;
	color: #575F7D;
	font-family: Lora, sherif;
	font-weight: lighter;
	font-size: 17px;
}  

h1, h2, h3{
	font-family: roboto, sans-serif;
}
h1 { 
	color: #575F7D;
	font-weight: 900;
	font-size: 32px
}
h2 {
	color: #105652;
	font-weight: lighter;
	font-weight: 500;
	font-size: 20px;
}

.img-border {
	border-radius: 80%;
	width: 200px;
}

/*Custom design with class*/
.container{
	width: 700px;
	margin: 40px auto;
}

@media (max-width:960px) {
	.container {
		width: 700px ;
	}
} 
@media (max-width:720px) {
	.container {
		width: 500px ;
	}
}
@media (max-width:540px) {
	.container {
		width: 300px ;
	}
}
.card-white {
	background-color: FBF3E4;
	padding: 40px;
	box-shadow: 0px 10xp 30px rgba(0, 0, 0, 0.1);
	margin: 20px 0px;
	text-align: center;
}
.btn-blue{
	background-color: #B91646 ;
	color: white;
	padding: 10px 15px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: black;
	color: white;
	padding: 10px 15px;
	border-radius: 4px;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
display: inline;
padding: 10px;
}
.list-inline a {
	font-size: 15px;
	color: rgb(230, 230, 230, 1.0);
}





